<div class="container">
<form [formGroup]="heroForm">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" formControlName="name" id="name">    
    <div *ngIf="this.slug.invalid && (this.name.dirty || this.name.touched)"
      class="alert alert-danger">*****required******
    </div> 
  </div>

  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" class="form-control" formControlName="slug" id="slug">
    <div *ngIf="this.slug.invalid && (this.slug.dirty || this.slug.touched)"
      class="alert alert-danger">*****required******
    </div>  
  </div>
    <button class="btn btn-secondary" (click)="addNewHero()">ADD</button>
    <button class="btn btn-secondary" (click)="confirmEdit()">Confirm</button> 
</form>  
</div>