<div class="container">
  <div class="container">
    <mat-spinner
      class="loading"
      *ngIf="this.loader.isloading | async"
      mode="indeterminate"
    ></mat-spinner>
    <app-search (changed)="filter($event)"></app-search>

    
    
    <div class="inline">
      <div class="container">
      <div class="row" *ngIf="superHeroes$ | async as superHeroes">        
        <div class="col-sm pointer" *ngFor="let superHero of superHeroes | paginate: { itemsPerPage: 20, currentPage: page }" >
          <div (click)="heroDetails(superHero.id)">
            <img class="img-list" src={{superHero.images.sm}} alt="lost">  
            <mat-list-item role="listitem">{{superHero.name}}</mat-list-item>              
          </div>
        </div>
      </div>
    </div>
      
      <app-super-hero-details></app-super-hero-details>
    </div>
      
      
      
      
    <div class="pagination">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <button type="button" class="btn btn-secondary" (click)="newHero()">
      New Hero
    </button>
  </div>
</div>
