.hero{
    color: aquamarine;
    background-color: salmon;
}

.hero:hover{
    cursor: pointer;
    opacity: 0.5;
}

.flex-container{
    display: flex;
    justify-content: space-between; 
}

.loading{
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 35%;
    height: 31px;
    width: 31px;
}

.inline{
    display: flex;
    justify-content: space-around;
}

.pointer{
    cursor: pointer;

}
.pointer:hover{
    opacity: 0.5;
    background-color: aqua;
}

.pagination{
    margin: auto;
}

