<div class="container">
  <div class="container">
    <mat-spinner
      class="loading"
      *ngIf="this.loader.isloading | async"
      mode="indeterminate"
    ></mat-spinner>
    <app-search (changed)="filter($event)"></app-search>

    <div class="flex-container">
      <div *ngIf="superHeroes$ | async as superHeroes">

        <mat-list role="list" *ngFor="let superHero of superHeroes | paginate: { itemsPerPage: 20, currentPage: page }" >
            <div class="inline pointer" (click)="heroDetails(superHero.id)">
                <mat-list-item role="listitem">{{superHero.name}}</mat-list-item>
                <img class="img-list" src={{superHero.images.xs}} alt="lost">
            </div>
        </mat-list>

              
      </div>
      <app-super-hero-details></app-super-hero-details>
      
      
    </div>
    <div class="pagination">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <button type="button" class="btn btn-secondary" (click)="newHero()">
      New Hero
    </button>
  </div>
</div>
