.hero{
    color: aquamarine;
    background-color: salmon;
}

.hero:hover{
    cursor: pointer;
    opacity: 0.5;
}

.heroes{
    width: 40vw;
}

.hero-details{
    width: 40vw;
    background-color: aquamarine;
}

.loading{
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 35%;
    height: 31px;
    width: 31px;
}


